.affiliate-payment-summary th {text-align: left;padding:10px; border: 1px solid;}
.affiliate-payment-summary td {padding:10px; border: 1px solid;}
.affiliate-payment-summary .available th, .affiliate-payment-summary .available td { padding: 13px;border: 2px solid green;}
.rt-aff-user-ac img { vertical-align: middle; }
.rt-aff-show-all {float: left; margin-top: 5px;} 
.widefat th.rt-aff-no-results {text-align: center;} 
 
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }